@font-face {
  font-family: "Carattere";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/carattere/v7/4iCv6Kp1b9dXlgt_CkvjsGyNPYZvgw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2lv0tKk.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  font-family: "Barlow Condensed";
}

body {
  background-color: white;
}

body.preload * {
  animation-duration: 0s !important;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

nav h1 {
  margin: 0 0 5px 0;
  text-align: center;
  cursor: pointer;
}

nav p,
nav ul {
  margin: 0 0 5px 0;
}

#changeDifficultyButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  height: 100%;
  background-color: white;
}

#howToPlayButton {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  height: 100%;
  background-color: white;
}

.dropdownHidden {
  max-height: 0px;
  overflow: hidden;
  animation: dropdownUp 1s;
}

.dropdownVisible {
  max-height: 200px;
  overflow: hidden;
  animation: dropdownDown 1s;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

li:hover {
  color: blue;
}

header {
  padding: 5px 10px;
}

#gameInfo {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      black,
      rgba(0, 0, 0, 0)
    )
    0 0 1 0;
}

#title > h1 {
  font-size: 50px;
  font-family: "Carattere", sans-serif;
  text-align: center;
  margin: 0px auto 10px auto;
  width: 30%;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      black,
      rgba(0, 0, 0, 0)
    )
    0 0 1 0;
}

#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#score div {
  margin-bottom: 2px;
}

button {
  cursor: pointer;
}

main {
  padding: 5px 10px;
}

#modalContainer {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  box-shadow: 0 0 0 8px gold, 0 0 0 12px black;
  animation: fadeIn 0.5s;
}

#modal {
  border-radius: 5px;
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(-45deg, white, gold, white);
  box-shadow: 0 0 0 8px gold, 0 0 0 12px black;
  border: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner {
  display: block !important;
}

#congratulations h1 {
  font-size: 80px;
  margin: 10px;
}

#congratulations p {
  font-size: 30px;
  margin: 10px;
}

#modalTime {
  font-size: 20px;
  margin: 10px;
}

#modalAttempts {
  font-size: 20px;
  margin: 10px;
}

#modalResetButton {
  width: 50%;
  margin: 0 auto;
  height: 50px;
  font-size: 30px;
}

#gameCards {
  width: 100%;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid black;
  border-radius: 5%;
  height: 240px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 0 0 0 8px white, 0 0 0 12px black;
  background: linear-gradient(-45deg, white, black, white);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 0 8px black, 0 0 0 12px black;
}

.card > img {
  margin: auto;
  max-width: 100%;
}

#shapesAndColors {
  height: 240px;
  width: 160px;
}

#tarot {
  height: 150px;
  width: 75px;
  box-shadow: 0 0 0 4px white, 0 0 0 8px black;
}

#tarot:hover {
  box-shadow: 0 0 0 4px black, 0 0 0 8px black;
}

#tarot > img {
  border-radius: 5px;
  height: 100%;
}

#playingCards {
  height: 70px;
  width: 50px;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

#playingCards:hover,
#pokemon:hover {
  box-shadow: 0 0 0 2px black, 0 0 0 4px black;
}

#playingCards > img {
  height: 100%;
  max-width: none;
}

#pokemon {
  height: 47px;
  width: 47px;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

#pokemon > img {
  width: 90%;
}

.hidden {
  display: none;
}

.incorrect {
  animation: shake 0.5s ease-in-out;
}

.correct {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, white, gold, white);
  box-shadow: 0 0 0 8px gold, 0 0 0 12px black !important;
}

#tarot.correct {
  box-shadow: 0 0 0 4px gold, 0 0 0 8px black !important;
}

#playingCards.correct,
#pokemon.correct {
  box-shadow: 0 0 0 2px gold, 0 0 0 4px black !important;
}

@media (max-width: 1200px) {
  nav {
    position: unset;
  }

  #howToPlayButton {
    margin-right: 10px;
  }

  .dropdownVisible {
    max-height: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  li {
    width: 100%;
  }

  #gameInfo {
    height: auto;
    justify-content: center;
  }

  #title h1 {
    width: 100%;
  }

  #modal {
    font-size: revert;
  }

  #congratulations h1,
  #congratulations p,
  #modalResetButton {
    font-size: revert;
  }

  .card {
    border: 2px solid black;
    border-radius: 5%;
    height: 90px;
    width: 60px;
    box-shadow: 0 0 0 4px white, 0 0 0 6px black;
  }

  .card:hover {
    box-shadow: 0 0 0 4px black, 0 0 0 6px black;
  }

  #shapesAndColors {
    height: 90px;
    width: 60px;
  }

  #tarot {
    height: 80px;
    width: 40px;
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
  }

  #tarot:hover {
    box-shadow: 0 0 0 2px black, 0 0 0 4px black;
  }

  #tarot.correct {
    box-shadow: 0 0 0 2px gold, 0 0 0 4px black !important;
  }

  #pokemon {
    height: 30px;
    width: 30px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropdownUp {
  0% {
    max-height: 200px;
  }
  100% {
    max-height: 0px;
  }
}

@keyframes dropdownDown {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 200px;
  }
}
