@font-face {
  font-family: "Carattere";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/carattere/v7/4iCv6Kp1b9dXlgt_CkvjsGyNPYZvgw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2lv0tKk.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  font-family: "Barlow Condensed";
}

body {
  margin: 0;
  background-color: black;
}

body.preload * {
  animation-duration: 0s !important;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  max-height: 75px;
  background-color: white;
}

nav h1 {
  margin: 0 0 5px 0;
  text-align: center;
  cursor: pointer;
}

nav p,
nav ul {
  margin: 0 0 5px 0;
}

#changeDifficultyButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  height: 100%;
  background-color: white;
}

#howToPlayButton {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  height: 100%;
  background-color: white;
}

.dropdownHidden {
  max-height: 0px;
  overflow: hidden;
  animation: dropdownUp 1s;
}

.dropdownVisible {
  max-height: 200px;
  overflow: hidden;
  animation: dropdownDown 1s;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 4px 4px;
  width: 100px;
  background-color: black;
  box-shadow: 0 0 0 1px white, 0 0 0 2px black;
}

li:hover {
  color: blue;
}

#difficulty\ shapes {
  color: lightblue;
}

#difficulty\ shapesAndColors {
  color: green;
}

#difficulty\ tarot {
  color: yellow;
}

#difficulty\ playingCards {
  color: orange;
}

#difficulty\ pokemon {
  color: red;
}

header {
  padding: 0px 10px;
  background-color: white;
}

#gameInfo {
  margin-top: 8px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), gold, rgba(0, 0, 0, 0))
    0 0 1 0;
}

#title > h1 {
  font-size: 50px;
  font-family: "Carattere", sans-serif;
  text-align: center;
  margin: 12px auto 10px auto;
  width: 30%;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      black,
      rgba(0, 0, 0, 0)
    )
    0 0 1 0;
  line-height: 0.55;
  filter: drop-shadow(0 0.1rem gold);
}

#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin: auto;
}

#score div {
  margin-bottom: 2px;
}

button {
  cursor: pointer;
  color: black;
}

main {
  margin: 10px 0px;
}

#modalContainer {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  animation: fadeIn 0.5s;
}

#modal {
  border-radius: 5px;
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(-45deg, white, gold, white);
  box-shadow: 0 0 0 2px gold, 0 0 0 4px black;
  border: 2px solid black;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner {
  display: block !important;
}

#congratulations h1 {
  font-size: 80px;
  margin: 10px;
}

#congratulations p {
  font-size: 30px;
  margin: 10px;
}

#modalTime {
  font-size: 20px;
  margin: 10px;
}

#modalMoves {
  font-size: 20px;
  margin: 10px;
}

#modalResetButton {
  width: 50%;
  margin: 10px auto;
  height: 50px;
  font-size: 30px;
}

#gameCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px 6px;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  height: 240px;
  width: 160px;
  margin: 0px 5px 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
  background: linear-gradient(-45deg, white, lightblue, white);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 0 2px blue, 0 0 0 4px black;
}

#shapesAndColors:hover {
  box-shadow: 0 0 0 2px darkgreen, 0 0 0 4px black;
}

#tarot:hover {
  box-shadow: 0 0 0 2px darkgoldenrod, 0 0 0 4px black;
}

#playingCards:hover {
  box-shadow: 0 0 0 2px darkorange, 0 0 0 4px black;
}

#pokemon:hover {
  box-shadow: 0 0 0 2px darkred, 0 0 0 4px black;
}

.card > img {
  margin: auto;
  max-width: 100%;
}

#shapesAndColors {
  height: 240px;
  width: 160px;
  background: linear-gradient(-45deg, white, green, white);
}

#tarot {
  height: 200px;
  width: 120px;
  background: linear-gradient(-45deg, white, yellow, white);
}

#tarot > img {
  border-radius: 5px;
  height: 100%;
}

#playingCards {
  height: 112px;
  width: 81px;
  margin: 0px 5px 10px 5px;
  background: linear-gradient(-45deg, white, orange, white);
}

#playingCards > img {
  height: 100%;
  max-width: none;
}

#pokemon {
  height: 80px;
  width: 80px;
  margin: 0px 5px 10px 5px;
  background: linear-gradient(-45deg, white, red, white);
}

#pokemon > img {
  width: 90%;
}

.hidden {
  display: none;
}

.incorrect {
  animation: shakeBig 0.5s ease-in-out;
}

#tarot.incorrect,
#playingCards.incorrect,
#pokemon.incorrect {
  animation: shakeSmall 0.5s ease-in-out;
}

.correct,
#shapesAndColors.correct,
#tarot.correct,
#playingCards.correct,
#pokemon.correct {
  background: linear-gradient(-45deg, white, gold, white);
  box-shadow: 0 0 0 2px gold, 0 0 0 4px black !important;
}

@media (max-width: 1200px) {
  nav {
    position: unset;
    max-height: none;
  }

  header {
    padding: 5px 10px 0px 10px;
  }

  #howToPlayButton {
    margin-right: 10px;
  }

  .dropdownVisible {
    max-height: 100%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
  }

  li {
    margin-bottom: 2px;
  }

  #gameInfo {
    height: auto;
    justify-content: center;
  }

  #title h1 {
    width: 100%;
  }

  #score {
    margin-top: 5px;
  }

  #modal {
    font-size: revert;
  }

  #modalResetButton {
    font-size: 16px;
  }

  #congratulations h1,
  #congratulations p {
    font-size: revert;
  }

  .card,
  #shapesAndColors {
    height: 120px;
    width: 90px;
    margin: 6px;
  }

  #tarot {
    height: 95px;
    width: 59px;
  }

  #playingCards {
    height: 58px;
    width: 42px;
  }

  #pokemon {
    height: 38px;
    width: 38px;
  }

  .incorrect {
    animation: shakeSmall 0.5s ease-in-out;
  }
}

@keyframes shakeBig {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shakeSmall {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropdownUp {
  0% {
    max-height: 200px;
  }
  100% {
    max-height: 0px;
  }
}

@keyframes dropdownDown {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 200px;
  }
}
