@font-face {
  font-family: "Carattere";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/carattere/v7/4iCv6Kp1b9dXlgt_CkvjsGyNPYZvgw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2lv0tKk.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  font-family: "Barlow Condensed";
}

body {
  background-color: white;
}

nav {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  border: 2px solid black;
}

nav h1 {
  margin: 0 0 5px 0;
}

nav p {
  margin: 0 0 5px 0;
}

.dropdownHidden {
  display: none;
}

.dropdownVisible {
  display: block !important;
}

#changeCardStyleButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#changeCardStyleButton h1 {
  text-align: right;
}

#changeCardStyle {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  padding-left: 10px;
}

li:hover {
  color: blue;
}

#title > h1 {
  font-size: 50px;
  font-family: "Carattere", sans-serif;
  text-align: center;
  margin: 10px auto;
  width: 40%;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      black,
      rgba(0, 0, 0, 0)
    )
    0 0 1 0;
}

#gameInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      black,
      rgba(0, 0, 0, 0)
    )
    0 0 1 0;
  padding: 10px;
}

.reset {
  max-width: 100px;
}

#winner {
  margin: 70px auto;
  padding: 20px;
  background: gold;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

#gameCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid black;
  border-radius: 5%;
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 0 0 0 8px white, 0 0 0 12px black;
}

.card:hover {
  box-shadow: 0 0 0 8px black, 0 0 0 12px black;
}

.card > img {
  margin: auto;
  max-width: 100%;
}

#playingCards > img {
  clip-path: inset(5px 5px 5px 5px);
}

#tarot > img {
  clip-path: inset(5px 5px 5px 5px);
  height: 100%;
}

#pokemon > img {
  height: 100px;
}

.hidden {
  display: none;
}

.incorrect {
  animation: shake 0.5s ease-in-out;
}

.correct {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, white, gold, white);
  box-shadow: 0 0 0 8px gold, 0 0 0 12px black !important;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
